*/*/.metadata/*

*/*/*/bin/*.class

.DS_Store

*/*/RemoteSystemsTempFiles/*

*/*/*/.settings/*
matlib/.MATLABDriveAppData/**
workspaces/matlib/forShru.zip

matlab/coursera/HW.zip
python/practice-worspace/.spyproject/*
python/**/__pycache__/**

r/forecasting-session/.RData
*.Rhistory


scala/**/.sbtserver/**
scala/**/bin/**
*.lock
angular/dstransformer/Genome Transformer.pptx

matlib/coursera.zip
matlab/forShru.zip

python/**/.idea

python/practice-worspace/machine-learning(techwithtim.net)/.idea/inspectionProfiles/profiles_settings.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/machine-learning(techwithtim.net).iml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/misc.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/modules.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/vcs.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/inspectionProfiles/profiles_settings.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/machine-learning(techwithtim.net).iml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/misc.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/modules.xml
python/practice-worspace/machine-learning(techwithtim.net)/.idea/vcs.xml
