*/*/.metadata/*

*/*/*/bin/*.class

.DS_Store

*/*/RemoteSystemsTempFiles/*

*/*/*/.settings/*
matlab/coursera/HW.zip
python/practice-worspace/.spyproject/*
python/**/__pycache__/**

r/forecasting-session/.RData
*.Rhistory


scala/**/.sbtserver/**
scala/**/bin/**
*.lock
angular/dstransformer/Genome Transformer.pptx