<div class="jumbotron">
    <div class="row">
        <div class="col-md-3"> 
            <div class="container panel ">
                <h3> {{jbtHeadingConfigureLayers}}</h3> 
                <p> <a routerLink="{{jbtBtnUrlConfigureLayers}}" class="btn btn-primary btn-lg">{{jbtBtnTextConfigureLayers}} </a> </p>           
            </div>
        </div>

        <div class="col-md-3"> 
            <div class="container panel" >
                <h3> {{jbtHeadingRuleAuthoring}}</h3> 
                <p> <a routerLink="{{jbtBtnUrlRuleAuthoring}}" class="btn btn-primary btn-lg">{{jbtBtnTextRuleAuthoring}} </a> </p>            
            </div>
        </div>

        <div class="col-md-3"> 
            <div class="container panel">
                <h3> {{jbtHeadingCreateTfrWF}}</h3> 
                <p> <a routerLink="{{jbtBtnUrlCreateTfrWF}}" class="btn btn-primary btn-lg">{{jbtBtnTextCreateTfrWF}} </a> </p>            
            </div>
        </div>

        <div class="col-md-3"> 
            <div class="container panel">
                <h3> {{jbtHeadingViewTfrWF}}</h3> 
                <p> <a routerLink="{{jbtBtnUrlViewTfrWF}}" class="btn btn-primary btn-lg">{{jbtBtnTextViewTfrWF}} </a> </p>            
            </div>
        </div>

    </div>
</div>